/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.navbar-purple {
	background-color: #683594;
	font-size: 16px;
	color: white;
}

.navbar > .container {
	margin: 14px auto;
}

body{
	background-color: #E6E6FA !important;
}

.user-box{
	border: 1px solid #683594;
	padding: 20px 40px 10px;
	margin-top: 10%;
}
.payment-option{
	display: inline-block;
    width: 100%;
}

.payment-option > label{
	margin-left: 10px;
}